.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(248, 241, 225);
  }
  
  #keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    position: fixed;
    bottom: 50px; 
    left: 0;
    right: 0;
  }
  
  .letter {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 20px;
    border: 1px solid blueviolet;
    cursor: pointer;
    background-color: rgb(229, 186, 229);
    color: blueviolet;
    border-radius: 5px;
    font-weight: bold;
  }

.letter:hover {
    background-color: blueviolet;
    color: rgb(247, 237, 247);
}

.guessed {
    background-color: #ccc; 
    color: #888; 
    pointer-events: none; 
    border: 1px solid rgb(50, 50, 50);
}
  
/* Adjust placeholder container positioning */
#placeholder-container {
  position: fixed;
  top: 50%;
  right: 15%; /* Adjust as needed */
  transform: translateY(-50%);
}

.placeholder-line {
  display: inline-block; /* Display as inline-block to make them behave like lines */
  width: 35px; /* Set the width of the lines */
  height: 3px; /* Set the height of the lines */
  background-color: black;
  margin: 0 10px; /* Add some margin between the lines */
}


#word-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 20px; 
}

#correct-letter {
  margin: 0 15px; /* Add some margin between the lines */
  font-size: 20px;
}

/* CSS for hangman image container */
#hangman-container {
  position: absolute;
  top: 50%;
  left: 10%; /* Adjust the left position as needed */
  transform: translateY(-50%);
}

/* CSS for hangman images */
#hangman-image {
  width: 400px; /* Set the width of the image */
  height: auto; /* Maintain aspect ratio */
  /* Add any other styles you want */
}

#scoreboard {
  position: fixed;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  background-color: #ccf7ce;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif; /* Font family */
}

#scoreboard p {
  margin: 0;
}

#scoreboard span {
  font-weight: bold;
}

/* CSS styles for the title */
.title {
  text-align: center; /* Center align the text */
  font-size: 48px; /* Font size */
  color: #4CAF50; /* Text color */
  margin-top: 50px; /* Top margin */
  font-family: 'Arial', sans-serif; /* Font family */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 2px; /* Letter spacing */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Text shadow */
}





